		<!-- Footer -->
			<div id="footer">
				<div class="container">
					<div class="row ">
						<div class="6u">
							<div class="row collapse-at-2">
								<section class="6u">
									<h3>குழுக்கள்</h3>
									<ul class="links">
										<li><a href="https://groups.google.com/forum/#!forum/minTamil">மின்தமிழ்</a></li>
										<li><a href="http://www.tamilpulavar.org/">தமிழ்ப்புலவர்</a></li>
										<li><a href="https://github.com/Ezhil-Language-Foundation/open-tamil">Open Tamil Web</a></li>
									</ul>
								</section>
								<section class="6u">
									<h3>வலைப்பூக்கள்</h3>
									<ul class="links">
										<!-- li><a href="https://atamilspeaks.wordpress.com/">தமிழில்</a></li -->
										<li><a href="https://jayabarathan.wordpress.com/">நெஞ்சின் அலைகள்</a></li>
										<li><a href="https://siliconshelf.wordpress.com/">சிலிகான் ஷெல்ஃப் </a></li>
										<li><a href="http://kanaigal.blogspot.in/">கணைகள் </a></li>
										<li><a href="http://madhavipanthal.blogspot.in/">மாதவிப் பந்தல்</a></li>
										<li><a href="https://vaiyai.wordpress.com/">வையை</a></li>
									</ul>
								</section>
							</div>
						</div>
						
					</div>
				</div>

				<!-- Icons -->
					<!-- ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
					</ul -->

				<!-- Copyright -->
					<div class="copyright">
						<ul class="menu">
							<li>காப்புரிமை: &copy; தமிழ் உலகிற்கு.</li><li>Design: <a href="https://groups.yahoo.com/neo/groups/isaiyini/info">இசையினி யாகூ குழுமம்.</a></li>
						</ul>
					</div>

			</div>
		<!--[if lte IE 8]><script src="{{ site.baseurl }}/assets/css/ie/html5shiv.js"></script><![endif]-->
		<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/jquery.dropotron.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/skel.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/skel-layers.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/init.js"></script>
	</body>
</html>
